<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/profile-bg.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/default_user.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 *ngIf="state.user" class="title">{{ state.user.attributes.email }}<br /></h4>
                    <button (click)="signout()" class="btn btn-outline-default btn-round">Log out</button>
                    <button (click)="testFunction()" class="btn btn-outline-default btn-round">Test</button>
                </div>
            </div>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Info">
                            <ng-template ngbTabContent >

                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Transactions">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
