<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/main_bg.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Bangiya Sanskritik Parishad, Kalyan</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Uniting all the bengalis in kalyan</h2>
            </div>
        </div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by Anisha
        </h6>
    </div>
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Abouts Us</h2>
                        <h3 *ngIf="state.user">Welcome {{ state.user.attributes.email }} <a (click)="signout()" class="btn btn-danger btn-round">Sign Out</a></h3>
                        <h5 class="description">Bangiya Sanskritik Parishad Kalyan aims to bring all Bengalis of Kalyan
                            and its neighborhood together under one umbrella through various cultural and social
                             activities throughout the year! Welcoming everyone here!</h5>
                        <br>
                        <a [routerLink]="['profile']" class="btn btn-round">Profile</a>
                        <a [routerLink]="['signup']" class="btn btn-round">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <h1 >Photo Display</h1>
                        <p >Various year round event conducted by the BSP, Kalyan</p>
                        <a href="#"
                            class="btn btn-white mt-4">See all Photos</a>
                    </div>
                    <div class="col-lg-6 mb-lg-auto">
                        <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img class="img-fluid" src="./assets/img/soroush-karimi.jpg" alt="First slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="img-fluid" src="./assets/img/joshua-stannard.jpg" alt="Second slide">
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-dark">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 mb-lg-auto">
                        <div class="rounded shadow-lg overflow-hidden">
                            <igx-calendar></igx-calendar>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <h1>Upcoming Events</h1>
                        <p>Various year round event conducted by the BSP, Kalyan</p>
                        <a href="#" class="btn btn-white mt-4">See all Events</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>